{% assign rps_metafields = shop.metafields['rapid-search'] %}
{% assign rps_settings = rps_metafields.rpsSettings %}

{% capture theme_id %}{{ theme.id }}{% endcapture %}
{% assign rps_theme_settings = rps_settings.shopify_public_settings.theme_settings[theme_id] %}

{% if collection and rps_theme_settings.collection_page_enabled == true %}
  {% assign collection_page_enabled = true %}
{% endif %}

{% if search and rps_theme_settings.search_results_page_enabled == true and rps_theme_settings.product_card_design == 'original' %}
  {% assign search_results_page_enabled = true %}
{% endif %}

{% if collection_page_enabled or search_results_page_enabled %}
  {% assign rps_results_enabled = true %}
{% endif %}

{% if rps_theme_settings.product_card_design != 'original' %}
  {% assign is_non_original_snapshot = true %}
{% endif %}

{% if rps_theme_settings.product_card_design == 'original' and rps_theme_settings.assets_updated != null %}
  {% assign is_original_snapshot_with_updated_assets = true %}
{% endif %}

{% if is_non_original_snapshot or is_original_snapshot_with_updated_assets %}
  {% assign should_load_snapshot = true %}
{% endif %}

{% if content_for_header contains rps_metafields.storeFrontScriptDomain
  and rps_settings.shopify_public_settings.foc_v2_migrated == true
  and rps_settings.enabled == true
  and rps_settings.limit_exceeded == false
  and rps_settings.last_import != false
  and rps_settings.last_import != null
  and rps_results_enabled == true
  and should_load_snapshot == true
%}
  {% if search %}
    {% assign search_title = 'templates.search.title' | t %}

    {% if search_title contains 'missing' %}
      {% assign search_title = 'Search Results' %}
    {% endif %}

    <h1 class="rps-results-page-title">{{ search_title }}</h1>
  {% endif %}

  <script type="application/json" id="rpsSectionSettingsScript">
    {{ section.settings | json }}
  </script>

  <script type="application/json" id="rpsCartInfo">
    {{ cart | json }}
  </script>

  <style>
    {% if rps_theme_settings.theme_version == 2 %}
    #shopify-section-{{ section.id }} > *:not(.rps-results):not(.rps-results-page-title) {
      display: none !important;
    }
    {% endif %}

    .rps-results-page-title {
      text-align: center;
      font-size: 32px;
      margin-top: 20px;
      margin-bottom: 25px;
      padding: 0 10px;
    }

    {{ rps_theme_settings.css }}
  </style>

  {% render 'rapid-search-results-skeleton' %}

  {% if rps_theme_settings.theme_version == 1 %}
    <script>
      function rpsHideSiblingsExceptTarget(targetElement) {
        if (!targetElement) return;

        const container = targetElement.parentElement;

        if (!container) return;

        const children = Array.from(container.children);

        children
          .filter(child => !child.classList.contains('rps-results'))
          .forEach(sibling => (sibling.style.display = 'none'));
      }

      function rpsObserveParent(targetElement) {
        if (!targetElement) return;

        const parentElement = targetElement.parentElement;
        if (!parentElement) return;

        const observer = new MutationObserver(() => {
          rpsHideSiblingsExceptTarget(targetElement)
        });

        observer.observe(parentElement, {
          attributes: true,
          childList: true,
          subtree: false
        });
      }

      const rpsResultsTemplateContainer = document.querySelector('.rps-results');

      if (rpsResultsTemplateContainer) {
        rpsHideSiblingsExceptTarget(rpsResultsTemplateContainer);

        rpsObserveParent(rpsResultsTemplateContainer);
      }
    </script>
  {% endif %}
{% endif %}
